footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
}

div.App footer p, div.App footer a {
  color: black;
}

footer a, footer a:visited, footer a:hover, footer p a{
  color: black;
}